p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.activity {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    border-radius: 25px;
    font-style: italic;

}

h3.example{
    background: #ffffff;
    height: 23px;
}

h4.example{
    background: #ffffff;
    height: 23px;
}

div.tip{
    margin-left: 190px;
    border: 2px solid #000000;
    padding: 10px 20px;
    width: 500px;
}

span.code {
    font-family: "courier";
    font-style: normal
}

div.activity span.code {
    font-family: "courier";
    font-style: normal
}